@-webkit-keyframes animationExample {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes animationExample {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.animateThis {
	-webkit-animation: animationExample 2s;
	        animation: animationExample 2s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.thisWillChange {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	will-change: transform;
}

.rgbaFallback {
	background: #000000;
	background: rgba(0,0,0,0.5);
}

.opacityFallback {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.pseudo-element:before {
	content: '';
}

.vmFallback {
	width: 50vm;
	width: 50vmin;
}

.remFallback {
	height: 160px;
	height: 10rem;
	font: 32px Arial;
	font: 2rem Arial;
}

.remFallback:before {
	content: '';
	line-height: 16px;
	line-height: 1rem;
}